<h4>Enregistre ta position actuelle</h4>

<form id="position" method="post" {{ form_enctype(form) }} action="{{ path('pouce_position_add')}}">

	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}

	<p>
		Rentre la ville dans laquelle tu es. Le site te proposera les villes qu'il connait. Le pays s'ajoutera automatiquement une fois la ville sélectionnée.
		Attention : Les villes sont nommés dans leur langue d'origine (Ex : Aachen au lieu d'Aix-la-chapelle).
	</p>

	<p>
		Les organisateurs sont informés (normalement) de l'ajout d'une position. Pas la peine de leur renvoyer un SMS à part si ca vous fait plaisir où s'ils vous le demande.
	</p>

	<div class="input-field row">

		<div class="col s12 m6">
			<div class="dropdown-button" data-activates="ui-id-1">
				<div id='city'></div>
			</div>
		</div>

		<div class="col s12 m6">
		  	<input type="text" name="pays" id="pays" placeholder="Pays">
		 </div>

  	</div>

	<input type="submit" class="btn btn-primary" /> 
</form> 
