{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{% block javascript %}

	{% javascripts filter='?yui_js'
		'js/jquery-ui.js'
		'js/autocompleter-jqueryui.js'
		'js/position.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %} 

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Enregistre ta position actuelle</h3>


	<form method="post" {{ form_enctype(form) }} action="{{ path('pouce_position_add')}}">

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}

		<p>
			Vérifiez bien vos informations. Ils nous permetterons de vous suivre pendante toute la durée du concours
		</p>

		<div class="row">

			<div class="col s12 m6">
				<div class="dropdown-button" data-activates="ui-id-1">
					<div id='city'></div>
				</div>
			</div>

			<div class="col s12 m6">
				<select disabled id="pays">
				    <option value="1" disabled selected>Pays</option>
			  	</select>
			 </div>

	  	</div>

		<input type="submit" class="btn btn-primary" /> 
	</form>

{% endblock %}