{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{% block stylesheets %}

	{% stylesheets filter='cssrewrite, ?yui_css'
  		'css/sir-trevor.css'
  		'css/sir-trevor-icons.css' %}
  		  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}

{% endblock %}
	

{% block javascript %}

	{% javascripts filter='?yui_js'
		'js/underscore.js'
		'js/eventable.js'
		'js/sir-trevor.min.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Raconte ton aventure</h3>

	<form method="post" name="form" action="{{ path('pouce_comment_create')}}">
	  <textarea name="aventureForm" id="form_name"class="js-st-instance"></textarea>
	  <input type="submit" /> 
	</form>

	{# {{form(form)}} #}

	<script>
	  new SirTrevor.Editor({ el: $('.js-st-instance') });
	</script>
	<script>
	$(function() {
		SirTrevor.DEBUG = true;
		var form = $('#post-form');
	 
		new SirTrevor.Editor({
			el: $('#st-content'),
			blockTypes: [
				"Text",
				"Video",
				"Image"
			],
			defaultType: "Text",
		});
	 
		SirTrevor.setDefaults({
			uploadUrl: "/upload"
		});
	});
	</script>

{% endblock %}