{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Formulaire d'inscription</h3>

	<p>
		Tu as déjà une équipe. Que fais-tu sur cette page ?????
	</p>

{% endblock %}
