/***************************************************
	      Materialize theme : Default Paralaxe;
***************************************************

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1.8;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100vh;
  color: #26a69a;
}
  
.parallax-container .section {
  width: 100%;
}

footer.page-footer {
  margin: 0;
}


body {
  background-color: #fcfcfc;
}

.bullet li{
  list-style-type: disc;
  margin-left:15px;
}

#core-content {
  min-height: 92vh;
}


/*@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
*/

/***************************************************
        Gallery
***************************************************/

.fotorama__wrap { margin: auto; }

/***************************************************
        Organisateurs
***************************************************/

#nomOrganisateur{
  margin-top: 0px;
}

/***************************************************
          ARCHIVES
***************************************************/

.menuArchive {  
  margin-left: auto;
  margin-right: auto;
  width:1000px;
}  
.menuArchive li {  
  display: inline-block;  
  width: 300px;  
  margin: 0 10px;  
  padding: 5px;  
}  
.menuArchive figure {  
  position: relative;  
  display: inline-block;  
  width: 300px;
  height:185px;    
  margin: 0;  
  text-align: center;  
  overflow: hidden;
}  
.menuArchive figure #TitreImage {
  width:300px;
  height:28px;
  float:top;
  background:black;
  color:white;
  font-size: 1.2em;
}
.menuArchive figure:hover #TitreImage{
  background:#00CCFF;;
}
.menuArchive figcaption {  
  position: absolute;
  left: 0; bottom: -1em;  
  width: 300px;  
  height: 2em;  
  line-height: 1.5em;  
  text-align: center;  
  color: #fff;  
  background: rgba(0,0,0,2);  
  overflow: hidden;  
  /*préparation de la transition*/  
  transition: all 0.3s;
}  
.menuArchive figcaption p {  
  padding: 30px;
}
.menuArchive figcaption span { display: block; }  

.menuArchive figure:hover figcaption,  
.menuArchive figure:focus figcaption {  
  height: 10.8em;  
  background: rgba(0,0,0,0.8);  
}

/***************************************************
          POSITIONS
***************************************************/


ul.ui-autocomplete li {
  font-size: 1.2rem;
  color: #26a69a;
  display: block;
  padding: 1rem 1rem;
}

