/***************************************************
        index
***************************************************/


#block3parts {
  height: 100vh;
  width: 80%;
  margin-top: 2em;
  padding-top: 2.5em;
}

#block2parts {
  height: 100vh;
  width: 80%;
  margin-top: 2em;
  padding-top: 2.5em;
}

#block {
  height: 100vh;
  width: 80%;
  margin-top: 1em;
  padding-top: 2.5em;
}

#blockFooter {
  height: 100vh !important;
  width: 100%;
}

#index-banner{
  padding-top: 0em;
}


#top {
  height: 1px;
  position: absolute;
}
	
a.twitter-timeline{
  text-align: center;

}

iframe[id^='twitter-widget-']{ 
  width: 90% !important;
  height: 55vh;
}

#navbar{
  position: absolute;
}

.header{
  margin-top: 2em;
}

.fp-tableCell {
  display: block !important;
}

.slimScrollDiv{
  min-height: 100vh;
}

#FAB{
  position: absolute;
  top: 88vh;
  z-index: 100;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

h4{
  text-overflow: ellipsis;
  overflow: hidden;
}