/***************************************************
	      think simple by marija zaric and distributed by http://freehtml5templates.com
***************************************************


***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}

ol, ul {list-style: none}

a img {border:none}


aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;
	}


html, body{
	font-family: Calibri,"Times New Roman", Times, serif;
	font-size: 1em;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
	background-color:white;
	background-image:url(../images/bg.jpg);
	background-position:left top;
	background-repeat:repeat;
	}

p {
	text-align : justify;
	margin-top:10px;
	margin-bottom:10px;
	}
	
section {
	text-align : justify;
	}	
	
a, p a {
	color:black;
	}
	
a:hover {
	text-decoration:underline;
	color:blue;
	}


h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
	position:relative;
	}


	
h1{
	font-size: 40px;
	color: black; /* #663366 */
	text-align: center;	
	margin-bottom:20px;
	}
	
h1 span{
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;
	}

h2 {
	font-size: 28px;
	line-height:1.7;
	color:black;
	font-weight:bold;
	text-align:left;
	padding-top:8px;
	margin-left:40px;
	}
	
h3{
	font-size: 28px;
	line-height:1.6;
	color:#00CCFF;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;
	}
	
	
h3 span{
	font-size: 12px;
	color: black;
	height:24px;
	margin-top:15px;
	text-align:left;
    display:block;
	}

h4{
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:350px;
	padding-top:8px;
	margin-bottom:12px;
	}
	
h4 span{
	font-weight:bold;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFCC33;
	padding:8px;
	margin-left:20px;
	border-radius: .5em;
	}

h5 {
	font-size: 17px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:420px;
	padding-top:8px;
	margin-left:40px;
	}

ul{
	margin-left: 20px;
	padding: 0;
}

ul#bullet li {
	padding-left:20px;
	list-style-image: url(../images/bullet.gif);
}
	

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
	}
	
#container{
	position:relative;
	width:1000px;
	margin:0 auto;
	text-align:left;
	background-color:transparent;x
}


.group1 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	}
	
.group2 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	}
	
.group3 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	}
	
.group4 {
	float: left;
	width: 640px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-right:20px;
	}
	
.group5 {
	float: left;
	width: 280px;
	position: relative;
	background:transparent;
	padding:15px;
	}
	
a.twitter-timeline{text-align: center}
	
	
.group_bannner_left {
	width: 440px;
	position: absolute;
	top:60px;
	background:transparent;
	margin-left:-40px;
	margin-top:20px;
	}
	
.group_bannner_right{
	width: 560px;
	position: absolute;
	right:0px;
	background:transparent;
	margin-top:20px;
	}
	
.buttonleft {
	width : 337px;
	height: 92px;
	position : absolute;
	background:transparent;
	margin-top:6px;
	left:100px;
	}
	
.buttonright {
	width : 337px;
	height: 92px;
	position : absolute;
	background:transparent;
	margin-top:6px;
	right:100px;
	}	
			
header{
	position: relative;
	float:center;
	width: 100%; /* A modifier pour que cela soit plus propre */
	height: 120px;
	}
	
	
/***************************************************
				INTRO
***************************************************/	
	
#intro{
	width: 1000px;
	position: relative;
	float: left;
	height:318px;
	margin-left:20px;
	margin-right:20px;
	background:transparent;
	}
	
#intro h1{
	font-size: 60px;
	line-height:1.6;
	color:black;
	text-align:left;
	margin-left:40px;	
	}
	
#intro h1 span{
	line-height:1.7px;
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;
	}
	
.button {
	position: relative;
	float: left;
	width:100%;
	height: 120px;
	padding:10px;
	margin-top:15px;
	background:transparent;
	}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content_1 {
	position: relative;
	float: left;
	width: 1000px;
	margin-top:15px;
	background:transparent;
	background: url(../images/line.png) 0 -18px no-repeat;
	}
	
.holder_content_2 {
	position: relative;
	float: left;
	width: 1000px;
	margin-top:6px;
	background: url(../images/line.png) 0 -18px no-repeat;
	}
	
.holder_content_separator{
	margin-bottom:20px;
	}

/***************************************************
			        FOOTER
***************************************************/


.footer{
	position: relative;
	bottom:0px;
	margin-top:20px;
	width: 1000px;
	height: 30px;
	text-align: center;
	display : block;
	}

.container{
    width:1000px;
    margin:0px;
	background-color:transparent;
	}


/***************************************************
				       MENU
***************************************************/

nav ul{
	position:absolute;
	width:650px;
	top:43px;
	background:transparent;
	list-style : none;
	z-index: 100;
	right: -20px;
	}

nav ul ul{
	line-height: 100%;
	display: none;
	margin: 0;
	padding: 0;
	width: 205px;
	position: absolute;
	top: 40px;
	left: 0;
	border: solid 1px #b4b4b4;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	background: white;
	z-index: 200;
	}

nav ul li{
	float: left;
	text-align: left;
	line-height:normal;
	margin: 0 0px;
	padding: 0 0 0px;
	position: relative;
	list-style: none;
	border-radius: 2em;
	}

nav ul li a{
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */ 
	padding:15px;
	background-color:transparent;
	margin-top:0px;
	margin-right:6px;
    text-decoration:none;
	}

nav ul li li a{
	width: 175px;
	}

nav ul li li a:hover, nav li li:hover li a {
	background-color:#00CCFF;
	padding:15px;
	color:white;
	border-radius: 8px;
	width: 175px;
	}
	
nav ul li a.current, nav li:hover > a {
	background-color:#00CCFF;
	padding:15px;
	color:white;
	border-radius: 8px;
	}

nav ul li:hover ul {
	display: block;
	}

nav ul a {
	display: block;
	padding:  8px 20px;
	margin: 0;
	}

.content_menu{
	float: left;
	width: 274px;
	margin-top:-10px;
	margin-bottom:15px;
	}
	
.content_menu ul{	
	margin: 0px;
	padding: 0px;
	float: none;
	}

.content_menu ul li{
	float: none;
	padding-bottom: 16px;
	}


.content_menu ul li a{
	font-size:14px;
	line-height:normal;
    color:#33CC99;
	text-align:left;
	text-decoration:none;
	padding-left:20px;
	}
	
.content_menu ul li a:hover{color:#33CC99;}

/***************************************************
			        EDITIONS PRECEDENTES
***************************************************/
			
.panneau{
	float: right;
	margin-left:40px;
}


/***************************************************
					ARCHIVES
***************************************************/

.MenuArchive {  
    margin-left: auto;
   	margin-right: auto;
    width:1000px;
}  
.MenuArchive li {  
    display: inline-block;  
    width: 300px;  
    margin: 0 10px;  
    padding: 5px;  
}  
.MenuArchive figure {  
    position: relative;  
    display: inline-block;  
    width: 300px;
    height:185px;    
    margin: 0;  
    text-align: center;  
    overflow: hidden;
}  
.MenuArchive figure #TitreImage {
	width:300px;
	height:28px;
	float:top;
	background:black;
	color:white;
	font-size: 1.2em;
}
.MenuArchive figure:hover #TitreImage{
	background:#00CCFF;;
}
.MenuArchive figcaption {  
    position: absolute;
    left: 0; bottom: -1em;  
    width: 300px;  
    height: 1em;  
    line-height: 1.5em;  
    text-align: center;  
    color: #fff;  
    background: rgba(0,0,0,2);  
    overflow: hidden;  
    /*préparation de la transition*/  
    transition: all 0.3s;
}  
.MenuArchive figcaption p {  
    padding: 30px;
}
.MenuArchive figcaption span { display: block; }  

.MenuArchive figure:hover figcaption,  
.MenuArchive figure:focus figcaption {  
    height: 10.8em;  
    background: rgba(0,0,0,0.8);  
}  

/***************************************************
					INSCRIPTION
***************************************************/

.cadre1
{	
	float:left;
	width:320px;
	height:270px;
	margin-left:15%;
	padding-left:20px;
}

.cadre2
{	
	width:320px;
	height:270px;
	margin-left:55%;
	padding-left:20px;
}

.cadre3
{	
	clear: both;
	width:650px;
	height:275px;
	margin-left:15%;
	padding-left:5%;
	padding-right:5%;
}

.champ
{
	position:float;
	float: right;
	font-family: Calibri,"Times New Roman", Times, serif;
	width:180px;
}

#checkbox {
	margin-left:15%;
	}

legend
{
	font-family: Calibri,"Times New Roman", Times, serif;
	font-size: 2em;
	color: #00CCFF;
}

.submit
{
	position:relative;
	float: right;
	margin-right:10%;
	font-family: Calibri,"Times New Roman", Times, serif;
	width:180px;
}

fieldset ul li {
	margin-bottom:10px;
}

/***************************************************
					PAGE PERSO EDITION
***************************************************/

#imgBinome1 {
	float: left;
	width: 125px;
	height: 125px;
}

#imgBinome2 {
	float: right;
	width: 125px;
	height: 125px;
}

#title {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width:1000px;
    height: 125px;
}

#title h3 {
	text-align: center;
	margin:0px;
}

#title h4 {
	text-align: center;
	width: 100%;
	font-weight:bold;
}

#blocPouceux1 {
	display: block;
	float: left;
	text-align: right;
	width:49%;
	padding-right: 1%;
	margin-bottom: 30px;
	margin-top: 20px;
}

#blocPouceux2 {
	display: block;
	float: right;
	text-align: left;
	width:49%;
	padding-left: 1%;
	margin-bottom: 30px;
	margin-top: 20px;
}

form#actionRemarquable {
	float:left;
	width: 40%;
}

form#actionRemarquable input.champ {
	float:left;
}

form#actionRemarquable input.submit {
	width:160px;
	float:right;
}

/***************************************************
					REGLES
***************************************************/

#commandements {
	float:left;
	width:490px;
	padding-left:5px;
	padding-right:5px;
	right:0px;
}

#commandements section{
	padding-left:25px;
	padding-right:25px;
}

#reglesdujeu {
	float:left;
	width:490px;
	padding-left:5px;
	padding-right:5px;
}

#reglesdujeu section {
	padding-left:25px;
	padding-right:25px;
}

.holder_content_3 {
	position: relative;
	width: 1000px;
	margin-top:6px;
	margin-bottom:200px;
	}

.trigger {
 cursor:pointer;   
}

/***************************************************
					LISTE DES INSCRITS
***************************************************/

table /* Le tableau en lui-mÍme */
{
	margin: auto; /* Centre le tableau */
	border: 2px outset white; /* Bordure du 
tableau avec effet 3D (outset) */
	border-collapse: collapse; /* Colle les bordures entre elles */
	color: rgb(255,134,0);

}

td /* Toutes les cellules des tableaux... */
{
	text-align: center;
	border: 1px solid white; /* ... auront une bordure de 1px */
	font-family: Calibri,"Times New Roman", Times, serif;
	padding: 5px;
	max-width:350px;
	font-size:1em;
}

th /* Les cellules d'en-tÍte */
{
	background-color: #00CCFF;
  	color: white;
   	font-family: Calibri,"Times New Roman", Times, serif;
	padding:8px;
}

/***************************************************
					EDITION
***************************************************/

#carteecoles {
	width: 400px;
	float:right;
}

ul#enc li {
	font-size:1.2em;
	width: 300px;
	font-weight:bold;
}

ul#enc li#orgas { /* Remise en forme normal pour le texte dans l'encadré gris */
	font-size:1em;
	width: 300px;
	font-weight:normal;
}

#orgas
{
	color: black;
	list-style-type: none;
	width: 300px;
	background-color: #CCCCCC;
	border: 1px solid grey;
	border-radius: 5px 5px 5px 5px;
	padding-left: 6px;
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 6px;
}

/***************************************************
					RECORDS
***************************************************/

table /* Le tableau en lui-mÍme */
{
	margin: auto; /* Centre le tableau */
	border: 2px outset black; /* Bordure du tableau avec effet 3D (outset) */
	border-collapse: collapse; /* Colle les bordures entre elles */
	color: #E8940C;

}

td /* Toutes les cellules des tableaux... */
{
	text-align: center;
	border: 1px solid black; /* ... auront une bordure de 1px */
	font-family: Calibri,"Times New Roman", Times, serif;
	padding: 5px;
	max-width:350px;
	font-size:1em;
}

th /* Les cellules d'en-tÍte */
{
	text-align: center;
	background-color: #00CCFF;
  	color: white;
   	font-family: Calibri,"Times New Roman", Times, serif;
	padding:8px;
}

/***************************************************
				   SPECIFIC
***************************************************/

#logo{
	position:relative;
   	float:left;
   	top:8px;
	left:0px;
	width:343px;
	height:110px;
	}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
	}

.purple{
	font-size:50px;
	color:#663366;
	float:left;
	padding:12px;
	margin:20px;
	}
	
.read_more{
	color:#663366;
	font-size:14px;
	float:right;
	margin-top:15px;
	}