/***************************************************
	      Materialize theme : Default Paralaxe;
***************************************************

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1.7;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100vh;
  color: #26a69a;
}
  
.parallax-container .section {
  width: 100%;
}

footer.page-footer {
  margin: 0;
}


body {
  background-color: #fcfcfc;
}

.bullet li{
  list-style-type: disc;
  margin-left:15px;
}

#core-content {
  min-height: 92vh;
}


/*@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
*/

/***************************************************
        Gallery
***************************************************/

.fotorama__wrap { margin: auto; }

/***************************************************
        Organisateurs
***************************************************/

#nomOrganisateur{
  margin-top: 0px;
}

/***************************************************
          ARCHIVES
***************************************************/

.archivesBlock{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.archivesBlock .textIntro{
  width: 80%;
}

.archives{
  text-align: center;
}

.archives h3{
  font-size: 1.6em; 
  color: #818485;
}

.archives p{
  color: #818485; 
  font-weight: 300;
}

/***************************************************
          POSITIONS
***************************************************/


ul.ui-autocomplete li {
  font-size: 1.2rem;
  color: #26a69a;
  display: block;
  padding: 1rem 1rem;
}

