{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

    <h3>Un concours de Centrale Nantes depuis 2003</h3>
    
    <div class="row">
    	<div class="col s12 m6">
    		<img class="responsive-img" src="{{ asset('images/illustration_photos/1.png') }}">
		</div>
    	<div class="col s12 m6">
		    <p>
		        Le concours repose sur 2 principes :
		        <ul class="bullet">
		            <li>La sécurité</li>
		            <li>La gratuité</li>
		        </ul>
		    </p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
		    <p>
		        Chaque école qui participe à ce concours s'engage à respecter :
		        <ul class="bullet">
		            <li>Les règles de sécurité</li>
		            <li>Les règles du concours</li>
		        </ul>
		    </p>
		</div>
		<div class="col s12 m6">
			<img class="responsive-img" src="{{ asset('images/illustration_photos/2.png') }}">
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12">
			<p>
		        Ce concours s'est créé dans l'objectif de créer un week-end mixant aventure, cohésion, rencontres, partage et amusement.
		    </p>
		     <p>
		        Il est à noter qu'aucun problème n'a été signalé à l'organisation depuis sa création, en 2003.
		    </p>
		</div>
	</div>

{% endblock %}
