{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<h1>Un concours de Centrale Nantes depuis 2003</h1>

	<p>
		Le concours repose sur 2 principes :
		<ul class="bullet">
			<li>La sécurité</li>
			<li>La gratuité</li>
		</ul>
	</p>

	<p>
		Chaque école qui participe à ce concours s'engage à respecter :
		<ul class="bullet">
			<li>Les règles de sécurité</li>
			<li>Les règles du concours</li>
		</ul>
	</p>

	<p>
		Ce concours s'est créé dans l'objectif de creer un week end mélangeant aventure, cohésion et amusement. 
	</p>



	<p>
		Il est à noté qu'aucun problème n'à été signalé à l'organisation depuis sa création.
	</p>

{% endblock %}