{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}
<!--<img src="images/Carte 2012_petite.jpg" class="float" alt="MAP" />-->

<h1>Edition 2012</h1>

<h3>Responsables: Alban, Stéphane, Isa et Patou</h3>

<p>
    <b><u>Particularité :</u></b> 4 villes de départ, grâce aux participations exceptionnelles de Centrale Lille, Télécom Brest et Polytechnique.

</p>

<h2>Télécom Bretagne</h2>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <BR>
                </td>
                <td>Lidia &amp; Tristan</td>
                <td>Amsterdam</td>
                <td>1046</td>
                <td>Brest</td>
                <td>1046</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <BR>
                </td>
                <td>Fatima &amp; Hugo</td>
                <td>Saint-s&eacute;bastien</td>
                <td>900</td>
                <td>Brest</td>
                <td>900</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <BR>
                </td>
                <td>Laure &amp; Alexandre</td>
                <td>Toulouse</td>
                <td>890</td>
                <td>Brest</td>
                <td>890</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <BR>
                </td>
                <td>Jacques &amp; L&eacute;o</td>
                <td>Irun</td>
                <td>880</td>
                <td>Brest</td>
                <td>880</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <BR>
                </td>
                <td>Mariam &amp; Thomas</td>
                <td>Bruxelles</td>
                <td>851</td>
                <td>Brest</td>
                <td>851</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <BR>
                </td>
                <td>Hassen &amp; Mohamed</td>
                <td>Bruxelles</td>
                <td>851</td>
                <td>Brest</td>
                <td>851</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <BR>
                </td>
                <td>Kevin &amp; Astrid</td>
                <td>Lille</td>
                <td>771</td>
                <td>Brest</td>
                <td>771</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <BR>
                </td>
                <td>David &amp; Jabrane</td>
                <td>Langon</td>
                <td>695</td>
                <td>Brest</td>
                <td>695</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <BR>
                </td>
                <td>Hicham &amp; Antoine</td>
                <td>Limoges</td>
                <td>658</td>
                <td>Brest</td>
                <td>658</td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <BR>
                </td>
                <td>Florian &amp; Kun</td>
                <td>Bordeaux</td>
                <td>652</td>
                <td>Brest</td>
                <td>652</td>
            </tr>
            <tr>
                <td>11</td>
                <td>
                    <BR>
                </td>
                <td>Cl&eacute;ment &amp; Pierre</td>
                <td>Orl&eacute;ans</td>
                <td>615</td>
                <td>Brest</td>
                <td>615</td>
            </tr>
            <tr>
                <td>12</td>
                <td>
                    <BR>
                </td>
                <td>Elsa &amp; Guillaume</td>
                <td>Paris</td>
                <td>615</td>
                <td>Brest</td>
                <td>615</td>
            </tr>
            <tr>
                <td>13</td>
                <td>
                    <BR>
                </td>
                <td>Colas &amp; Christophe</td>
                <td>Calais</td>
                <td>615</td>
                <td>Brest</td>
                <td>615</td>
            </tr>
            <tr>
                <td>14</td>
                <td>
                    <BR>
                </td>
                <td>Alexandre &amp; Aymeric</td>
                <td>Nantes </td>
                <td>305</td>
                <td>Brest</td>
                <td>305</td>
            </tr>
            <tr>
                <td>14</td>
                <td>
                    <BR>
                </td>
                <td>Chlo&eacute; &amp; Fran&ccedil;ois</td>
                <td>Nantes </td>
                <td>305</td>
                <td>Brest</td>
                <td>305</td>
            </tr>
            <tr>
                <td>16</td>
                <td>
                    <BR>
                </td>
                <td>Adrien &amp; Cl&eacute;mentine</td>
                <td>La Rochelle</td>
                <td>305</td>
                <td>Brest</td>
                <td>305</td>
            </tr>
            <tr>
                <td>17</td>
                <td>
                    <BR>
                </td>
                <td>Kogulan &amp; Alexandre</td>
                <td>Rennes</td>
                <td>251</td>
                <td>Brest</td>
                <td>251</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Centrale Lille</h2>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>les Los Angeles</td>
                <td>Lucien &amp; Laeticia</td>
                <td>Berlin</td>
                <td>847</td>
                <td>Lille</td>
                <td>847</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Les Ratissimos</td>
                <td>Janaina &amp; Rafael</td>
                <td>Grenoble</td>
                <td>788</td>
                <td>Lille</td>
                <td>788</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Les Urbateam</td>
                <td>Maxence &amp; Wiliam</td>
                <td>Bordeaux</td>
                <td>782</td>
                <td>Lille</td>
                <td>782</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Les Dupontons</td>
                <td>Antoine &amp; J&eacute;r&eacute;my</td>
                <td>Guingamp</td>
                <td>650</td>
                <td>Lille</td>
                <td>650</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Les gros patapouces</td>
                <td>Soizic &amp; Guillaume</td>
                <td>Hanovre</td>
                <td>566</td>
                <td>Lille</td>
                <td>566</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Les Pouces au vent</td>
                <td>Arthur &amp; Henry</td>
                <td>Hamm</td>
                <td>396</td>
                <td>Lille</td>
                <td>396</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Les Petits Poucets</td>
                <td>Pauline &amp; Samy</td>
                <td>Cologne</td>
                <td>320</td>
                <td>Lille</td>
                <td>320</td>
            </tr>
            <tr>
                <td>8</td>
                <td>La Dream Team</td>
                <td>Chaimaa &amp; Jules</td>
                <td>Amsterdam</td>
                <td>287</td>
                <td>Lille</td>
                <td>287</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Les Impala</td>
                <td>Antoine &amp; Matthieu</td>
                <td>Amsterdam</td>
                <td>287</td>
                <td>Lille</td>
                <td>287</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Les Ch'tis Poucets</td>
                <td>Alexandre &amp; Mathieu</td>
                <td>?</td>
                <td>0</td>
                <td>Lille</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Les Poussi-Poussa</td>
                <td>Charline &amp; Mathieu</td>
                <td>?</td>
                <td>0</td>
                <td>Lille</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Centrale Nantes</h2>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Poucy Riots</td>
                <td>Julien &amp; Olivier</td>
                <td>Leeuwarden</td>
                <td>1007</td>
                <td>Nantes</td>
                <td>1007</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Les miamis d'or</td>
                <td>Nejma &amp; Charles</td>
                <td>Marseille</td>
                <td>999</td>
                <td>Nantes</td>
                <td>999</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Aventuries du bout du monde</td>
                <td>steve &amp; Celine</td>
                <td>Amsterdam</td>
                <td>887</td>
                <td>Nantes</td>
                <td>887</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Team Rocket 1</td>
                <td>Simon &amp; Nejma</td>
                <td>Amsterdam</td>
                <td>887</td>
                <td>Nantes</td>
                <td>887</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Les supertramps</td>
                <td>Guillaume &amp; Pauline</td>
                <td>Amsterdam</td>
                <td>887</td>
                <td>Nantes</td>
                <td>887</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Mighty &nbsp;Nazairian Diaspora</td>
                <td>Lo&iuml;c &amp; Elodie</td>
                <td>Cologne</td>
                <td>860</td>
                <td>Nantes</td>
                <td>860</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Notre nom d'&eacute;quipe de l'ann&eacute;e derni&egrave;re</td>
                <td>Romain &amp; Maxime</td>
                <td>Strasbourg</td>
                <td>858</td>
                <td>Nantes</td>
                <td>858</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Les jeunes pouces</td>
                <td>Gautier &amp; J&uuml;h</td>
                <td>Saarebruck + 10m</td>
                <td>765</td>
                <td>Nantes</td>
                <td>765</td>
            </tr>
            <tr>
                <td>8</td>
                <td>String et Bermuda</td>
                <td>Caroline &amp; Guilhem</td>
                <td>Saarebruck</td>
                <td>765</td>
                <td>Nantes</td>
                <td>765</td>
            </tr>
            <tr>
                <td>9</td>
                <td>La team burton</td>
                <td>Merwane &amp; Mathieu</td>
                <td>Liege</td>
                <td>749</td>
                <td>Nantes</td>
                <td>749</td>
            </tr>
            <tr>
                <td>10</td>
                <td>poucemoidela</td>
                <td>Isabelle &amp; Adren </td>
                <td>Lyon</td>
                <td>720</td>
                <td>Nantes</td>
                <td>720</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Vyk team</td>
                <td>Delphine &amp; Victor</td>
                <td>Anvers</td>
                <td>719</td>
                <td>Nantes</td>
                <td>719</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Steak Hippo</td>
                <td>Pablo &amp; JB</td>
                <td>Anvers</td>
                <td>719</td>
                <td>Nantes</td>
                <td>719</td>
            </tr>
            <tr>
                <td>13</td>
                <td>One Bibertion</td>
                <td>Maxime &amp; Marion</td>
                <td>Vitoria</td>
                <td>695</td>
                <td>Nantes</td>
                <td>695</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les cass&eacute;s</td>
                <td>Nicolas &amp; Enrico</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Valoches Victorieuses</td>
                <td>Valentin &amp; Victoire</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>La Tiffouquette</td>
                <td>Tiffanie &amp; Alexandre</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Ind&eacute;cis</td>
                <td>Elodie &amp; Basile</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les (Houx) Blonds</td>
                <td>Damien &amp; Ma&iuml;lys</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les bois-teux</td>
                <td>C&eacute;dric &amp; Romina</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Tipstop</td>
                <td>Ulysse &amp; Cl&eacute;mentine</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Poucetitu&eacute;es</td>
                <td>Jos&eacute;phine &amp; Antoine</td>
                <td>Bruxelles </td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Pince mi et Pouce toi</td>
                <td>Nathan &amp; Marie</td>
                <td>Bruxelles </td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Team Aqua</td>
                <td>Valentin &amp; Cl&eacute;ment</td>
                <td>Bruxelles</td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les minipouss</td>
                <td>Mathilde &amp; Maxime</td>
                <td>Bruxelles </td>
                <td>683</td>
                <td>Nantes</td>
                <td>683</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Pas un-sans-team</td>
                <td>Jerome &amp; Jonathan</td>
                <td>Warcq</td>
                <td>604</td>
                <td>Nantes</td>
                <td>604</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Team Rocket 2</td>
                <td>R&eacute;gis &amp; Damien</td>
                <td>Lille</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Les Poustiques</td>
                <td>Aur&eacute;lie &amp; Alexandre</td>
                <td>Lille</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Thumbs Up Bitch</td>
                <td>Josquin &amp; Sarah</td>
                <td>Villeneuve d'asc</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Les Rapteux</td>
                <td>Vincent &amp; Alexandre</td>
                <td>Toulouse</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Les Sushis</td>
                <td>Lucy &amp; Tony</td>
                <td>Lille</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Les Petits P&eacute;destres</td>
                <td>J&eacute;r&eacute;my &amp; Vincent</td>
                <td>Lille</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Pouce B&acirc;bord et Pouce Tribord</td>
                <td>Nicolas &amp; Cl&eacute;ment</td>
                <td>Calais</td>
                <td>597</td>
                <td>Nantes</td>
                <td>597</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Les Stop Models</td>
                <td>Vincent &amp; Jb</td>
                <td>Irun (entre France et Espagne</td>
                <td>580</td>
                <td>Nantes</td>
                <td>580</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Les Goldfinger</td>
                <td>Olivier &amp; Alexandre</td>
                <td>Bayonne</td>
                <td>547</td>
                <td>Nantes</td>
                <td>547</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Les caldoches</td>
                <td>Damien &amp; Julie</td>
                <td>Reims</td>
                <td>515</td>
                <td>Nantes</td>
                <td>515</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Les Pouss'1</td>
                <td>Marine &amp; Alexis</td>
                <td>Aiguillon</td>
                <td>462</td>
                <td>Nantes</td>
                <td>462</td>
            </tr>
            <tr>
                <td>37</td>
                <td>LeagueOfJambons</td>
                <td>Paul &amp; Adrien</td>
                <td>Goness (pr&egrave;s de paris)</td>
                <td>399</td>
                <td>Nantes</td>
                <td>399</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Team W</td>
                <td>Lucie &amp; Martin</td>
                <td>Rouen </td>
                <td>383</td>
                <td>Nantes</td>
                <td>383</td>
            </tr>
            <tr>
                <td>39</td>
                <td>LES POIT'S</td>
                <td>Ang&egrave;le &amp; Arthur</td>
                <td>Paris</td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les Pouce Willis</td>
                <td>William &amp; Lucie</td>
                <td>Stade de France</td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les BB brunes</td>
                <td>Denis &amp; Na&iuml;s</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Finger-in-ze-noze</td>
                <td>Nadia &amp; Marius</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les Dromadaires</td>
                <td>C&eacute;lia &amp; Philippe</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>La Belle et le Clochard</td>
                <td>Tom &amp; Marion</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les Petits Poucets</td>
                <td>Faquan &amp; Maxime</td>
                <td>Roissy cdg</td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les poisseux</td>
                <td>Maxime &amp; Quentin</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les Poucetard</td>
                <td>Francesca &amp; Xavier</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Thumb raiders</td>
                <td>Manuel &amp; Antoine</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les Mongols Fiers</td>
                <td>Thomas &amp; Guillaume</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Pouce&amp;vous!</td>
                <td>Adrien &amp; J&eacute;r&eacute;my</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>tu pousses le bouchon</td>
                <td>
                    <BR>
                </td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>39</td>
                <td>race pousse team</td>
                <td>Baptiste &amp; Benjamin</td>
                <td>Paris</td>
                <td>382</td>
                <td>Nantes</td>
                <td>382</td>
            </tr>
            <tr>
                <td>53</td>
                <td>Road Runners</td>
                <td>
                    <BR>
                </td>
                <td>Palaiseau</td>
                <td>361</td>
                <td>Nantes</td>
                <td>361</td>
            </tr>
            <tr>
                <td>54</td>
                <td>Les Poucycat Dolls</td>
                <td>T&eacute;rence &amp; H&eacute;lo&iuml;se</td>
                <td>Bordeaux</td>
                <td>358</td>
                <td>Nantes</td>
                <td>358</td>
            </tr>
            <tr>
                <td>55</td>
                <td>Qu&eacute; calor !</td>
                <td>Marc &amp; Alice</td>
                <td>Deauville</td>
                <td>348</td>
                <td>Nantes</td>
                <td>348</td>
            </tr>
            <tr>
                <td>56</td>
                <td>Riders on the Stop.</td>
                <td>Emmanuel &amp; Etienne</td>
                <td>Tours</td>
                <td>212</td>
                <td>Nantes</td>
                <td>212</td>
            </tr>
            <tr>
                <td>57</td>
                <td>La pouss'7</td>
                <td>Mario &amp; Anne Justine</td>
                <td>Le Mans</td>
                <td>185</td>
                <td>Nantes</td>
                <td>185</td>
            </tr>
            <tr>
                <td>58</td>
                <td>Les Poucequetaires</td>
                <td>Martin &amp; Corentin</td>
                <td>Rennes</td>
                <td>106</td>
                <td>Nantes</td>
                <td>106</td>
            </tr>
            <tr>
                <td>58</td>
                <td>Stop pouce</td>
                <td>
                    <BR>
                </td>
                <td>rennes</td>
                <td>106</td>
                <td>Nantes</td>
                <td>106</td>
            </tr>
            <tr>
                <td>60</td>
                <td>Les Maoshin Tias</td>
                <td>Ting &amp; Thomas</td>
                <td>Angers</td>
                <td>88</td>
                <td>Nantes</td>
                <td>88</td>
            </tr>
            <tr>
                <td>61</td>
                <td>Art'Mada</td>
                <td>Carole &amp; Arnaud</td>
                <td>Nantes </td>
                <td>0,5</td>
                <td>Nantes</td>
                <td>0,5</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les Pouceaux</td>
                <td>Nicolas &amp; Guillaume</td>
                <td>Belfort</td>
                <td>820</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les gros poucets</td>
                <td>Suzy &amp; Nathan</td>
                <td>Luxembourg ville</td>
                <td>744</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Thumb Brothers</td>
                <td>Benoit &amp; Nicolas</td>
                <td>Amsterdam</td>
                <td>887</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les couillons</td>
                <td>Lo&iuml;c &amp; Philippe</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Los Camboyanos</td>
                <td>Alejandro &amp; Emmanuel</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Bitchhikers</td>
                <td>Simon &amp; Vincent</td>
                <td>Carquefou</td>
                <td>12</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les cowboys de brokeback mountain</td>
                <td>Antoine &amp; Antoine</td>
                <td>Brives </td>
                <td>398</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les ptits Suisses</td>
                <td>Qi Qi &amp; Kent</td>
                <td>Paris </td>
                <td>382</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>What the duck ?!</td>
                <td>Antoine &amp; Patou</td>
                <td>Lyon</td>
                <td>720</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Les d&eacute;rouleurs de bitume</td>
                <td>C&eacute;dric &amp; Rozenn</td>
                <td>Londres</td>
                <td>757</td>
                <td>Nantes</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    <BR>
                </td>
                <td>Suce ma thumb</td>
                <td>Mehdi &amp; Swann</td>
                <td>Frankfurt</td>
                <td>944</td>
                <td>Nantes</td>
                <td>-1356</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Agro Montpellier</h2>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Les Colibris</td>
                <td>Eudes &amp; Gabrielle</td>
                <td>Montcul</td>
                <td>582</td>
                <td>Palaiseau</td>
                <td>582</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
