{% extends "PouceSiteBundle::layout.html.twig" %} {% block site_body %}
<!--<img src="images/Carte 2012_petite.jpg" class="float" alt="MAP" />-->
<h1>Edition 2013</h1>
<h3>Responsables: Alexandre et Olivier</h3>
<p>
    <b><u>Particularité :</u></b> 4 villes de départ, grâce aux participations exceptionnelles de Centrale Lille, Télécom Brest et Polytechnique.
</p>
<h2>Centrale Marseille</h2>
<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Les tocards</td>
                <td>Etienne &amp; Thomas</td>
                <td>Boulogne sur Mer</td>
                <td>1012</td>
                <td>Marseille</td>
                <td>1012</td>
            </tr>
            <tr>
                <td>2</td>
                <td>La Crise Team</td>
                <td>Philippe &amp; Isabelle &amp; Robin</td>
                <td>Mons</td>
                <td>921</td>
                <td>Marseille</td>
                <td>921</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Les écrevisses roses</td>
                <td>Yves-Henri &amp; Alexandre</td>
                <td>Bayonne</td>
                <td>669</td>
                <td>Marseille</td>
                <td>669</td>
            </tr>
            <tr>
                <td>4</td>
                <td>LS Supertramp</td>
                <td>Stéphane &amp; Lisa</td>
                <td>Dijon</td>
                <td>503</td>
                <td>Marseille</td>
                <td>503</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Les Speedy Gonzales</td>
                <td>Thibault &amp; Eugénie</td>
                <td>Barcelone</td>
                <td>498</td>
                <td>Marseille</td>
                <td>498</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Les esquimaux</td>
                <td>Antoine &amp; Jonathan</td>
                <td>Genèce</td>
                <td>410</td>
                <td>Marseille</td>
                <td>410</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Les zizis</td>
                <td>Adrien &amp; Thibault</td>
                <td>Lyon</td>
                <td>312</td>
                <td>Marseille</td>
                <td>312</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Vongola Family</td>
                <td>Yohan &amp; Ludovic</td>
                <td>Lyon</td>
                <td>312</td>
                <td>Marseille</td>
                <td>312</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Roadrunners</td>
                <td>Adèle &amp; Wilson</td>
                <td>Nice</td>
                <td>185</td>
                <td>Marseille</td>
                <td>185</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Mois mois mois ...</td>
                <td>Maylis &amp; Dimitri</td>
                <td>Milan</td>
                <td>504</td>
                <!--504 -> 350	Train Milan-Nice : -100-->
                <td>Marseille</td>
                <td>Train</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Centrale Lille</h2>
<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sam et Frodon</td>
                <td>
                </td>
                <td>Marseille</td>
                <td>965</td>
                <td>Lille</td>
                <td>965</td>
            </tr>
            <tr>
                <td>2</td>
                <td>En route Simone</td>
                <td>
                </td>
                <td>Bordeaux</td>
                <td>768</td>
                <td>Lille</td>
                <td>768</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Albor/td>
                    <td>
                        </BR>
                    </td>
                    <td>Grenoble</td>
                    <td>746</td>
                    <td>Lille</td>
                    <td>746</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Squatacaisse</td>
                <td>
                </td>
                <td>Albertville</td>
                <td>742</td>
                <td>Lille</td>
                <td>742</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Paper Planes</td>
                <td>
                </td>
                <td>Quiberon</td>
                <td>688</td>
                <td>Lille</td>
                <td>688</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Les dupont et dupond</td>
                <td>
                </td>
                <td>Hambourg</td>
                <td>655</td>
                <td>Lille</td>
                <td>655</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Los macarenos locos</td>
                <td>
                </td>
                <td>Lyon</td>
                <td>652</td>
                <td>Lille</td>
                <td>652</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Buzz l'éclair</td>
                <td>
                </td>
                <td>Basel</td>
                <td>585</td>
                <td>Lille</td>
                <td>585</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Les Poussettes</td>
                <td>
                </td>
                <td>Brême</td>
                <td>548</td>
                <td>Lille</td>
                <td>548</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Les Quiches Marocaines</td>
                <td>
                </td>
                <td>Brême</td>
                <td>548</td>
                <td>Lille</td>
                <td>548</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Frodon et Sam</td>
                <td>
                </td>
                <td>Brême</td>
                <td>548</td>
                <td>Lille</td>
                <td>548</td>
            </tr>
            <tr>
                <td>12</td>
                <td>SeeMyPoussy</td>
                <td>
                </td>
                <td>Kassel</td>
                <td>519</td>
                <td>Lille</td>
                <td>519</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Les globetrotterus</td>
                <td>
                </td>
                <td>Trier</td>
                <td>322</td>
                <td>Lille</td>
                <td>322</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Sky is the limit</td>
                <td>
                </td>
                <td>Cologne</td>
                <td>306</td>
                <td>Lille</td>
                <td>306</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Co-Loques</td>
                <td>
                </td>
                <td>Düsseldorf</td>
                <td>299</td>
                <td>Lille</td>
                <td>299</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Cap'Iteem</td>
                <td>
                </td>
                <td>Amsterdam</td>
                <td>282</td>
                <td>Lille</td>
                <td>282/td>
            </tr>
            <tr>
                <td>16</td>
                <td>Guacamole</td>
                <td>
                </td>
                <td>Amsterdam</td>
                <td>282</td>
                <td>Lille</td>
                <td>182</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Les Pouce toi d'là</td>
                <td>
                </td>
                <td>Bruxelles</td>
                <td>109</td>
                <td>Lille</td>
                <td>109</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Majeurs d'or</td>
                <td>
                </td>
                <td>Mons</td>
                <td>67</td>
                <td>Lille</td>
                <td>67</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Les solitaires</td>
                <td>
                </td>
                <td>Mancy</td>
                <td>368</td>
                <td>Lille</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Pousse Pousse</td>
                <td>
                </td>
                <td>Dortmund</td>
                <td>359</td>
                <td>Lille</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Los mafiosos</td>
                <td>
                </td>
                <td>Paris</td>
                <td>215</td>
                <td>Lille</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Lippoutou</td>
                <td>
                </td>
                <td>Anvers</td>
                <td>129</td>
                <td>Lille</td>
                <td>Train</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Centrale Nantes</h2>
<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>1</td>
                <td>BerlinGo</td>
                <td>Mathilde &amp; Thomas</td>
                <td>Aachen</td>
                <td>815</td>
                <td>Nantes</td>
                <td>840</td>
            </tr>
            <tr>
                <td>2</td>
                <td>PouciPouça</td>
                <td>Flore &amp: Félix</td>
                <td>Lyon Sud ENS</td>
                <td>687</td>
                <td>Nantes</td>
                <td>737</td>
            </tr>
            <tr>
                <td>3</td>
                <td>IronThumbs</td>
                <td>Mathieu &amp; Bastien</td>
                <td>Givors</td>
                <td>701</td>
                <td>Nantes</td>
                <td>716</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Tip n'Stop</td>
                <td>
                </td>
                <td>Bruxelles</td>
                <td>688</td>
                <td>Nantes</td>
                <td>698</td>
            </tr>
            <tr>
                <td>5</td>
                <td>La roue folle</td>
                <td>Bertille &amp; Guillaume</td>
                <td>St Etienne</td>
                <td>665</td>
                <td>Nantes</td>
                <td>695</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Pouce1</td>
                <td>Lo&iuml;c &amp; Elodie</td>
                <td>Bruxelles</td>
                <td>688</td>
                <td>Nantes</td>
                <td>688</td>
            </tr>
            <tr>
                <td>6</td>
                <td>The Good, the Bad and Nobody else</td>
                <td>
                </td>
                <td>Bruxelles</td>
                <td>688</td>
                <td>Nantes</td>
                <td>688</td>
            </tr>
            <tr>
                <td>8</td>
                <td>La Routourne</td>
                <td>
                </td>
                <td>Lille</td>
                <td>603</td>
                <td>Nantes</td>
                <td>643</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Wei Pollice</td>
                <td>Roberto &amp; Auriane</td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>616</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Les Poussinets</td>
                <td>
                </td>
                <td>Lille</td>
                <td>603</td>
                <td>Nantes</td>
                <td>613</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Kitty d'or</td>
                <td>Paul &amp; Quentin</td>
                <td>Lille</td>
                <td>603</td>
                <td>Nantes</td>
                <td>608</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Les Fifous</td>
                <td>Baptiste &amp; Hippolyte</td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>601</td>
            </tr>
            <tr>
                <td>13</td>
                <td>?</td>
                <td>
                </td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>596</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Skydrivers</td>
                <td>Lucile &amp; Antoine</td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>596</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Pouce VS Wild</td>
                <td>
                </td>
                <td>Donostia/San Sebastian</td>
                <td>595</td>
                <td>Nantes</td>
                <td>595</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Pouce le bouchon un peu trop loin</td>
                <td>
                </td>
                <td>Donostia/San Sebastian</td>
                <td>595</td>
                <td>Nantes</td>
                <td>595</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Pussa via</td>
                <td>
                </td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>586</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Preum's</td>
                <td>
                </td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>586</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Les Pouces-7</td>
                <td>
                </td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>586</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Goumand</td>
                <td>
                </td>
                <td>Toulouse</td>
                <td>586</td>
                <td>Nantes</td>
                <td>586</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Wazabi</td>
                <td>Laurence &amp; Lucas</td>
                <td>Saint Jean de Luz</td>
                <td>552</td>
                <td>Nantes</td>
                <td>552</td>
            </tr>
            <tr>
                <td>20</td>
                <td>David et ...</td>
                <td>
                </td>
                <td>Reins</td>
                <td>520</td>
                <td>Nantes</td>
                <td>550</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Team Onetpumba</td>
                <td>Jordan &amp; Meik</td>
                <td>Marseille</td>
                <td>989</td>
                <td>Nantes</td>
                <td>539</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Les Poullaz</td>
                <td>
                </td>
                <td>Munich</td>
                <td>1216</td>
                <td>Nantes</td>
                <td>516</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les dragons d'or</td>
                <td>
                </td>
                <td>Amiens</td>
                <td>507</td>
                <td>Nantes</td>
                <td>515</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Saucisson</td>
                <td>
                </td>
                <td>Courneuve</td>
                <td>398</td>
                <td>Nantes</td>
                <td>398</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Les Pousses Café</td>
                <td>
                </td>
                <td>Rouen</td>
                <td>388</td>
                <td>Nantes</td>
                <td>398</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Les Pouc'partout</td>
                <td>Clément &amp; Justine</td>
                <td>Rouen</td>
                <td>388</td>
                <td>Nantes</td>
                <td>398</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Pouce me, I'm famous</td>
                <td>
                </td>
                <td>Lagon</td>
                <td>390</td>
                <td>Nantes</td>
                <td>390</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Les Beaux Gosses</td>
                <td>
                </td>
                <td>Rouen</td>
                <td>388</td>
                <td>Nantes</td>
                <td>388</td>
            </tr>
            <tr>
                <td>28</td>
                <td>DamTeam</td>
                <td>Mathieu &amp; Simon</td>
                <td>Rouen</td>
                <td>388</td>
                <td>Nantes</td>
                <td>388</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Les Meninoes</td>
                <td>
                </td>
                <td>Paris</td>
                <td>386</td>
                <td>Nantes</td>
                <td>386</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Oreos</td>
                <td>
                </td>
                <td>Paris</td>
                <td>386</td>
                <td>Nantes</td>
                <td>386</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Les POUCEurs du repas de la veille</td>
                <td>
                </td>
                <td>Massy Palaiseau</td>
                <td>386</td>
                <td>Nantes</td>
                <td>386</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Clan Destin</td>
                <td>
                </td>
                <td>Le Barp</td>
                <td>380</td>
                <td>Nantes</td>
                <td>380</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Poupouce</td>
                <td>
                </td>
                <td>Talence</td>
                <td>358</td>
                <td>Nantes</td>
                <td>368</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Poucy waggon</td>
                <td>
                </td>
                <td>
                </td>
                <td>357</td>
                <td>Nantes</td>
                <td>357</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Viajantes do Canal Vaginal</td>
                <td>Pedro Ernesto &amp; Rafael</td>
                <td>Bordeaux</td>
                <td>353</td>
                <td>Nantes</td>
                <td>353</td>
            </tr>
            <tr>
                <td>36</td>
                <td>The Krauts</td>
                <td>Marius &amp; Lasse</td>
                <td>
                </td>
                <td>353</td>
                <td>Nantes</td>
                <td>353</td>
            </tr>
            <tr>
                <td>37</td>
                <td>PoucePousse</td>
                <td>Lauriane &amp; Pierre-Alexandre</td>
                <td>Bordeaux</td>
                <td>353</td>
                <td>Nantes</td>
                <td>353</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Franchinois</td>
                <td>Arnaud &amp; Quin</td>
                <td>Bordeaux</td>
                <td>353</td>
                <td>Nantes</td>
                <td>353</td>
            </tr>
            <tr>
                <td>39</td>
                <td>
                </td>
                <td>
                </td>
                <td>Bordeaux</td>
                <td>353</td>
                <td>Nantes</td>
                <td>353</td>
            </tr>
            <tr>
                <td>39</td>
                <td>OctoPouce</td>
                <td>Guillaume &amp; Hélène</td>
                <td>Mont St Michel</td>
                <td>197</td>
                <td>Nantes</td>
                <td>237</td>
                <!-- Pas venu -->
            </tr>
            <tr>
                <td>40</td>
                <td>Les Baltringues</td>
                <td>Quentin &amp; Aurélien</td>
                <td>Fougère</td>
                <td>157</td>
                <td>Nantes</td>
                <td>167</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Les groupies</td>
                <td>Alexandre &amp; Alexandre</td>
                <td>
                </td>
                <td>144</td>
                <td>Nantes</td>
                <td>144</td>
            </tr>
            <tr>
                <td>42</td>
                <td>BFS</td>
                <td>Jean-Marie &amp; Alexis</td>
                <td>Rennes</td>
                <td>109</td>
                <td>Nantes</td>
                <td>109</td>
            </tr>
            <tr>
                <td>43</td>
                <td>DiplodoDick</td>
                <td>Sylvain &amp; Guillaume</td>
                <td>Roche sur Yon</td>
                <td>70</td>
                <td>Nantes</td>
                <td>70</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Forfun</td>
                <td>Léo &amp; Flavio</td>
                <td>
                </td>
                <td>13</td>
                <td>Nantes</td>
                <td>13</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Riders on the stop</td>
                <td>Esteban &amp; MC</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Les Pouceux d'Albion</td>
                <td>Bruno &amp; Rémi</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Covoiturage payant</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>SpeculoOr</td>
                <td>Fellipé &amp; Daniel</td>
                <td>Angers</td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Echec</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Les Culs Linaires</td>
                <td>Guillaume &amp; Belkacem</td>
                <td>Toulouse</td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Rester là-bas</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>The Rasta Riders</td>
                <td>Alban &amp; Félix</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Echec</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Los Borambos</td>
                <td>Jérémy &amp; Pierre-Marie</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Go Hight</td>
                <td>Mann &amp; Youness</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Covoiturage payant</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Delegacion del Ghetto Gitano</td>
                <td>Alicia &amp; Alberto</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Covoiturage payant</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>Chartreuse et St Moret</td>
                <td>Luis &amp; Camille</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Train</td>
            </tr>
            <tr>
                <td>NC</td>
                <td>
                </td>
                <td>Emmanuel &amp; Etienne</td>
                <td>
                </td>
                <td>
                </td>
                <td>Nantes</td>
                <td>Covoiturage payant</td>
            </tr>
            </tbody>
    </table>
</div>
<h2>Agro Montpellier</h2>
<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Pr&eacute;noms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Ville D&eacute;part</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Les Colibris</td>
                <td>Eudes &amp; Gabrielle</td>
                <td>Montcul</td>
                <td>582</td>
                <td>Palaiseau</td>
                <td>582</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
