{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

	<h1> Conditions Générales d'Utilisation du site</h1>

    <h4>Propriété intellectuelle</h4>

    <p>
		La structure générale du site www.poucedor.fr, ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site www.poucedor.fr, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit du président du Pouce d'Or  et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.

		Vous nous donnez spécifiquement la permission suivante : vous nous accordez une licence non-exclusive, transférable, sous-licenciable, sans redevance et mondiale pour l’utilisation des contenus de propriété intellectuelle que vous publiez sur le site www.poucedor.fr. Cette licence de propriété intellectuelle se termine lorsque vous supprimez vos contenus de propriété intellectuelle ou votre compte.
	</p>

	<h4>Données personnelles</h4>

	<p>
		Les informations recueillies, textes, photos, vidéos font l’objet d’un traitement informatique destiné à améliorer votre expérience du Pouce d'Or. Les destinataires des données sont les organisateurs de l'évènement. Conformément à la loi « Informatique et Libertés », vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à staff@poucedor.fr.
	</p>

	<h4>Données personnelles</h4>

	<p>
		Vous pouvez trouver toutes les licences concernant le site sur la page suivante : <a href={{ path("pouce_site_licence") }}>Licences du site</a>
	</p>

	<p>
		Les présentes conditions générales (CGU) sont une reproduction partielle du <a href="http://www.droitissimo.com/contrat/conditions-generales-dutilisation-cgu-dun-site-internet">Modèle de CGU (conditions générales d'utilisation) d'un site Internet</a>, dont le titulaire des droits d'auteur est <a href="http://www.droitissimo.com/">DROITISSIMO.COM, site internet d'information juridique grand public</a>. 
	</p>

{% endblock %}