{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

    <h1>Conseils et Recommandations</h1>
    
    <div id="conseils">
        <a href="pdf/conseils_et_recommandations.pdf" target="_blank">Les Conseils et recommandation en version pdf</a>
        <br/>
        <a href="pdf/Pack_Pouce_D_OR.pdf" target="_blank">Le Pack de survie du Pouceux en pdf, tout ce dont vous avez à penser pour partir en synthétisé</a>
        <br/>
        <br/>
        <h2 id="preparation">LA PREPARATION DU VOYAGE</h2>
        <br/>
        <p>
            Un voyage en stop se prépare, spécialement si c’est un long trajet. Vous trouverez dans cette rubrique nos conseils pour bien préparer votre voyage.
        </p>
        <h3> Equipement </h3>
        <p>
            Vous partez pour un week-end entier, vous allez donc avoir besoin d’un minimum d’affaires. Nous vous conseillons d’emporter <b>un sac de rando</b> dans lequel vous pourrez ranger vos affaires de change et la bouffe ainsi qu’un plus petit sac à dos dans lequel vous pouvez ranger les choses auxquelles vous avez besoin d’accéder rapidement (carte, appareil photo, eau…).
            <p/> Dans le cas du Pouce d’Or, le temps risque d’être froid et pluvieux. Prévoyez des <b>vêtements de pluie</b>, voire un parapluie que vous pourrez accrocher au sac de rando une fois la pluie arrêtée. Conseil (qui sent le vécu) pensez à des chaussettes de rechange, des sacs plastiques pour ranger les choses humides ou protéger les choses sèches. Prévoyez également des <b>vêtements chauds</b>, vous les apprécierez grandement lorsque vous passerez 3 heures en pleine nuit sur une barrière de péage.</p>
        <p>Vous allez, pour la plupart, avoir à marcher pas mal voire beaucoup (pour traverser une ville, changer de spot, se mettre plus en sécurité) pensez donc à prendre des <b>chaussures dans lesquelles vous êtes bien</b> et avec lesquelles vous pourrez faire un peu de marche.</p>
        <p>Prenez également un duvet, vous trouverez peut-être un endroit où dormir, ou bien lors d’une attente sur une aire d’autoroute essayez de faire des petits sommes à tour de rôle, car <b>vous aurez besoin de force pour le retour</b>.
        </p>
        <h3>Nourriture et boissons</h3>
        <p>
            Vous ne savez ni où ni quand on vous déposera, ni si vous y trouverez à manger ou à boire. Il est important que vous prévoyez des réserves. A prendre au moins une grosse bouteille d’eau et pensez à la remplir lors de vos haltes en station service. Prendre également des barres de céréales ou gâteaux (prenez des trucs qui vous ferons plaisir c’est bon pour le moral), prendre aussi des sandwichs, des jardinières de thon ou autres nourritures froides que vous pourrez manger facilement et n’importe où (ne pas oublier une fourchette ou une cuillère, vous ne seriez pas les premiers à vous faire avoir). Vous pouvez aussi prendre des trucs pour le chochos. On a déjà vu des gens leur proposer des croissants ou des gâteaux, voire des spécialités Nantaise (un petit LU ça fait toujours plaisir).
        </p>
        <h3>Accessoires</h3>
        <p>
            Le premier accessoire qui est indispensable et obligatoire est le gilet jaune, un par personne. Prenez également un carte routière pour pouvoir vous guider et savoir si les personnes vont là où vous voulez, mais également pour choisir votre itinéraire et pouvoir le modifier en cours de route (vous n’irez peut-être pas jusqu’où vous aviez prévu). Vous pouvez demander des cartes gratuites au passage des péages. Elles ont l’avantage de présenter l’ensemble des stations services existantes sur le réseau.
        </p>
        <p>
            Prenez vos portables (pensez à les charger à fond), mais essayez d’alterner. N’allumez pas les deux téléphone constamment en même temps, il se pourrait que vous ayez à économiser votre batterie. Prenez quand même votre chargeur, il y a des prises électriques dans les stations services (en général dans les toilettes).
        </p>
        <p>
            Préparez des cartons pour faire des panneaux de direction. Partez avec un petit stock car ce n’est pas dit que vous en trouviez en route (au moins 5 c’est pas mal). Vous pouvez également prendre une pochette carton ou plastique de feuilles blanche et du scotch. Ecrivez vos direction sur la feuille et scotchez la à la pochette. Pensez également à des feutres marqueurs (au moins 2).
        </p>
        <p>
            Vous partez pour un voyage riche en souvenirs, prenez un appareil photo pour les immortaliser et les partager dès votre retour. Vous pouvez également prendre un petit cahier de route pour noter vos anecdotes, prendre les contacts des chochos…
        </p>
        <h3>Soyez en Forme</h3>
        <p>
            Le Pouce d’Or est une aventure fatigante (voire épuisante quand vous enchainez quasiment deux nuits blanches). Il est donc très important que vous partiez en forme. Il est donc déconseillé de faire la grosse chouille la veille, même si vous avez envie de fêter votre proche départ. La fatigue physique associée à la fatigue psychologique que vous allez accumuler peut être source d’inattentions ou de manque de vigilance. N’oubliez jamais que le risque zéro n’existe pas (ne voyez pas ici un moyen de vous décourager du stop, bien au contraire je vous y engage fortement, mais de façon responsable). Une bonne nuit de sommeil et un bon petit déj sont recommandés.
        </p>
        <h2 id="attente">L'ATTENTE</h2>
        <br/>
        <p>
            On y est, il est 9h01 passé, et vous êtes prêts à stopper. Vous avez préparé la plus belle pancarte de l’histoire du stop (soyez inventifs et originaux, ça plaît), vous arborez votre plus beau sourire et vous tendez fièrement votre pouce droit.
        </p>
        <p>
            Déjà vingt voitures et vous êtes toujours là. Vous commencez à comprendre que ça ne va pas être forcément si facile (il peut très bien arriver en revanche d’être pris dès la première voiture). La patience est une des qualités nécessaires à l’autostoppeur et réciproquement le stop est une très bonne école pour l’apprendre.
        </p>
        <p>
            Gardez le moral et le sourire peu importe depuis combien de temps vous attendez, un chauffeur ne voudra pas prendre une personne qui fait la gueule. Lors du Pouce d’Or vous êtes par binôme, profitez en pour vous motiver l’un l’autre. L’expérience montre que quelque soit le temps attendu, vous finirez toujours par être pris.
            <br/>
            <p>
                Ceci dit, si vous poireautez là depuis des heures il faut peut-être vous remettre en cause. Vous êtes peut-être mal placés, ou les gens ne comprennent pas ce que vous voulez ou encore plein d’autres raisons. Voici quelques astuces pour être pris plus facilement.
            </p>
            Si vous faites du stop sur le bord d’une route, votre emplacement est très important. Vous devez vous mettre à un endroit où vous êtes en sécurité et où une voiture peut s’arrêter sans danger. Vous ne devez pas faire prendre de risque aux automobilistes. Evitez donc les ronds points car les voitures arrivent vite dessus et ne peuvent pas s’y arrêter en sécurité. Préférez l’entrée ou la sortie du rond point (entre 50 et 100 mètres avant ou après), sur les nationales il y a souvent de la place pour se mettre. Il faut que vous cherchiez également à vous mettre de façon à être vus le plus loin possible. Cela permet aux conducteurs de comprendre qu’il y a un autostoppeur, de juger s’il vous prend (il n’a que quelques secondes pour faire son choix donc à vous de le convaincre), et d’avoir le temps et la place pour s’arrêter. Vous pouvez également vous placez au niveau de feux tricolores car des voitures s’y arrêteront forcément et vous pourrez user de vos charmes (j’entends par là de votre magnifique sourire bien entendu)pour qu’ils vous prennent.
        </p>
        <p>
            Une bonne pancarte peut être très utile. Au niveau d’un feu elle peut servir de premier moyen de communication avec les automobilistes. Les voitures restent souvent fenêtres fermées en vous voyant au feu (n’oubliez pas que certaines personnes ont peur des stoppeurs), rassurez les avec votre pancarte et votre sourire. Pour l’avoir expérimenté, la pancarte « On est gentil » fonctionne bien. De façon générale si vous arrivez à les faire rire c’est à moitié gagné (chauffeur qui rit, t’es à moitié parti). Il existe plusieurs théories à propos des pancartes : si vous mettez une ville trop loin les personnes qui ne vont pas jusque là ne vous prendrons pas car ils n’ont pas forcément conscience que ça peut quand même vous avancer ; mais si vous mettez une ville trop près les gens ne voudrons pas vous prendre pour se réarrêter sous peu (ceci est vrai surtout sur les grandes routes). On vous conseille plutôt de mettre le numéro de la route que vous voulez prendre et la direction en indiquant la première grosse ville traversée et aussi la plus éloignée (par exemple si vous partez de Nantes pour Paris : A11-Dir Angers/Paris).
        </p>
        <p>
            Parlons un peu de stop actif/stop passif. J’entends par stop passif le stop au bord d’une route, pouce tendu pancarte en évidence. Le stop actif consiste à aller directement à la rencontre des gens, de leur expliquer votre démarche, de les rassurer, et de leur demander directement si ils peuvent vous avancer. Ce style de stop se pratique essentiellement sur les stations services ou en ville. Dans le cas du Pouce d’Or n’hésitez pas à leur raconter pourquoi vous faite du stop, l’idée d’un concours de stop fait souvent rire les gens (et chocho qui rit…).
        </p>
        <h2 id="voiture">EN VOITURE</h2>
        <br/>
        <p>
            Vous y êtes enfin, une voiture s’arrête et vous propose de vous prendre. Avant de monter mettez vous d’accord avec le chocho sur là où il peut vous amener. De plus si vous ne le sentez pas n’hésitez pas à refuser, prétextant une mauvaise direction par exemple. Ne prenez pas de risques inutiles. Le Pouce d’Or n’est qu’un jeu. De même une fois dans une voiture si vous ne sentez plus le conducteur, ou si vous avez peur, demandez lui de vous déposer dans le prochain endroit en sécurité.
        </p>
        <p>
            Heureusement la très grande majorité des personnes qui prennent des autostoppeur sont des personnes saines d’esprit et souvent même très gentilles. Certaines personnes n’hésiteront pas à faire un grand détour pour vous filer un coup de main.
        </p>
        <p>
            A vous de renvoyer la pareille. Soyez toujours reconnaissants du service qu’il vous rend. Si vous voyez qu’il a envie de parler, tenez la conversation avec lui, vous pouvez lui expliquer le Pouce d’Or par exemple.
        </p>
        <p>
            Avant d’arriver à destination assurez vous qu’il vous dépose dans un endroit sûr et d’où vous pourrez repartir facilement de préférence(combien de personnes se sont faites déposer sur une bande d’arrêt d’urgence parce qu’elles ne s’étaient pas mises bien d’accord avec le chauffeur). Il vaut mieux vous arrêtez vingt kilomètres moins loin que ce qu’il pourrait vous amener mais être déposé sur une grosse station service que de continuer et être déposé sur une bande d’arrêt d’urgence ou sur un chemin paumé. Si vous êtes sur autoroute ne descendez jamais sur la bande d’arrêt d’urgence (espérance de vie inférieure à 20min), même si le chauffeur vous dit qu’il sort de l’autoroute et qu’il n’y a plus d’aire de stationnement où vous déposer. Sortez avec lui de l’autoroute et descendez éventuellement au péage pour reprendre quelqu’un qui rentre sur l’autoroute.
        </p>
        <p>
            Une fois arrivés n’oubliez pas de bien le remercier le conducteur car l’image que vous lui laisserez pourra conditionner son avis sur les stoppeurs et sur le fait d’en reprendre ou non.
        </p>
    </div>

{% endblock %}
