{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<div id="corps">
		<h1>Editions précédentes</h1>
		
		<img src="{{ asset('images/figueres.jpg') }}" class="panneau" alt="figures 2006" />
		
		<p>Le pouce d'or existe depuis très longtemps. Mais toute trace écrite, l'histoire donc, ne débute qu'en 2003. <br/>
			Voici donc les éditions dont la trace écrite a été retrouvée ! </p>
			
			<ul class="bullet">
				<li><a href="index2009.php">Mot du Prez édition 2009 (Jonas):</a></li>
				<br/>
				<li><a href="PO2013.php">Edition 2013 (Alexandre et Olivier) : xx binomes - </a></li>
				<br/>
				<li><a href="PO2012.php">Edition 2012 (Alban, Stéphane, Isa et Patou) : 102 binomes - (Pays-Bas) Amsterdam (1046 Km)</a></li>
				<br/>
				<li><a href="PO2011.php">Edition 2011 (Gautier et Anne) : 60 binomes - (Pays-Bas) Enschede (952 Km)</a></li>
				<br/>		
				<li><a href="PO2010.php">Edition 2010 (Annaëlle) : 56 binomes - (Danemark) Copenhague (1576 Km)</a></li>
				<br/> 
				<li><a href="PO2009.php">Edition 2009 (Jonas) : 46 binomes - (Allemagne) Munich (1211 Km)</a></li>
				<br/> 
				<li><a href="PO2008.php">Edition 2008 (Mélanie) : 30 binomes - (Autriche) Linz (1400 Km)</a></li>
				<br/> 
				<li><a href="#" onclick="alert('Nous n\'avons plus les résultats de 2007, veuillez nous excuser.')">Edition 2007 (Evguéni) : 22 binomes - (Allemagne) Hanovre (1120Km)</a></li>
				<br/> 
				<li><a href="PO2006.php">Edition 2006 : 9 binomes - Strasbourg (700 Km)</a></li>
				<br/> 
				<li><a href="PO2005.php">Edition 2005 : 5 binomes - (Espagne) Madrid (775 Km)</a></li>
				<br/>  
				<li><a href="PO2004.php">Edition 2004 : 10 binomes - Montpellier (585 Km)</a></li>
				<br/> 
				<li><a href="PO2003.php">Edition 2003 : 20 binomes - (Italie) Bologne (1200 Km)</a></li>
			</ul>
		</div>

	{% endblock %}