{% extends "PouceSiteBundle::layout.html.twig" %}

{% block stylesheets %}
	
	{% stylesheets filter='cssrewrite, ?yui_css'
  		'css/fotorama.css' %}
  		  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}

{% endblock %}

{% block javascript %}

	{% javascripts filter='?yui_js'
		'js/fotorama.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
{% endblock %}

{% block site_body %}


	<div class="fotorama" 
		data-allowfullscreen="true"
		data-nav="thumbs"
		data-arrows="true"
	    data-click="true"
	    data-swipe="true"
	    data-width="100%"
     	data-ratio="800/600"
     	data-maxwidth= "600">

		{% for image in imageArray %}
			<img src="{{ asset(image.url) }}">
		{% endfor %}
	</div>


{% endblock %}