{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}


<h1>Inscription des écoles et des universités au Pouce d'Or 2015</h1>

<p>
	Tu veux inscrire ton école au Pouce d'Or 2015 ?<br/><br/>
	Ouverture des inscriptions en ligne le 21 septembre 2015.<br/><br/>
	Le Staff Pouce d'Or 2015 est là pour te donner tout ce que tu as besoins pour l'organiser. <br/>
	En échange, il faut que tu connaisses les règles de bases à respecter.<br/> 
	En 3 points : 
	<ul class="bullet">
		<li>Le respect des règles du concours et des règles de sécurité</li>
		<li>La mise en commun du travail de communication</li>
		<li>La communication des résultats</li>
	</ul>
</p>

<p>
	Tu es d'accord avec ça ? <br/>
	Voici les règles en entiers : <a href="{{ asset('pdf/regles_ecoles.pdf') }}" target="_blank">Règles pour les écoles</a>
	<br/>
	Tu peux toujours nous envoyer un mail à l'adresse suivante : <a href="mailto:staff@poucedor.fr?Subject=ContactSiteWeb">staff@poucedor.fr</a>
</p>

<img class="responsive-img" src="{{ asset('images/inscription.jpg') }}" alt="En construction">
<br/>
<h1>On attend plus que ton école et toi !</h1>

{% endblock %}