{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<h1>Licences utilisées sur le site</h1>

	<h4>Utilisation des technologies et les licences associés</h4>

	<p>
		<b>Symfony2 :</b> MIT license (<a href="http://symfony.com/doc/current/cmf/contributing/license.html">Symfony2</a>)
		<br/>
		<b>JQuery :</b> MIT license (<a href="https://jquery.org/license/">JQuery</a>)
		<br/>
		<b>fullPage.js :</b> MIT license (<a href="https://github.com/alvarotrigo/fullPage.js/">fullPage.js</a>)
		<br/>
		<b>Sir Trevor JS :</b> MIT license (<a href="http://madebymany.github.io/sir-trevor-js/">Sir Trevor JS</a>)
		<br/>
		<b>Sir Trevor php :</b> MIT license (<a href="https://github.com/WouterSioen/sir-trevor-php/blob/master/LICENCE.md">Sir Trevor php</a>)
		<br/>
		<b>MaterializeCSS :</b> MIT license (<a href="http://materializecss.com/">MaterializeCSS</a>)
		<br/>
		<b>TWIG :</b> BSD license (<a href="http://twig.sensiolabs.org/license">TWIG</a>)
		<br/>
		<b>Doctrine2 :</b> MIT license (<a href="https://github.com/doctrine/doctrine2/blob/master/LICENSE">Doctrine2</a>)
		<br/>
		<b>Fotorama :</b> MIT license (<a href="http://fotorama.io/license/">Fotorama</a>)
		<br/>
		<b>FOSUserBundle :</b> MIT license (<a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a>)
	</p>

	<h4>Rappel des licences Open-Source</h4>

	<p>
		<b>MIT license :</b> <a href="http://choosealicense.com/licenses/mit/">http://choosealicense.com/licenses/mit/</a>
		<br/>
		<b>BSD license :</b> <a href="http://choosealicense.com/licenses/bsd-2-clause/">http://choosealicense.com/licenses/bsd-2-clause/</a>
	</p>

	<h4>Licence du code du site (<i>Website license</i>)</h4>

	<p>
		Ce site a été créé et il est la propriété de Olivier NGUYEN QUOC.
		Aucun droit de reproduction, distribution, modification, sous-license ou d'utilisation commerciale sans accord de ce dernier.
	</p>

	<p>
		<i>English version</i>
		<br/>
		This website have been created and is owned by Olivier NGUYEN QUOC.
		No rights permission given including rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software without an authorisation of the owner.
	</p>

	<h4>Les organisateurs</h4>

	<p>
		<a href="{{ path('pouce_site_organisateurs') }}">Lien vers la page des organisateurs</a>
	</p>


{% endblock %}