{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<div id="corps">
		<h1>Les Liens Utiles</h1>

		<h2>TransWay</h2>
		<div class="row">
			<div class="col s12 m3 center-on-small-only">
				<img src="{{ asset('images/logotw.jpg') }}" class="responsive-img" alt="TransWay" />
			</div>
			<div class="col s12 m9">
				<p>
					<a href="http://www.transportdoux.fr" target="_blank">Le site de TransWay</a><br/>
				</p>
			</div>
		</div>
		<a href="http://www.gotoo.fr" target="_blank">Le site de GoToo</a>

		<h2>Facebook</h2>

		<a href="http://www.facebook.com/pages/Pouce-dOr/110668099000663" target="_blank">La page Facebook du Pouce d'Or</a> : Déclarez vos déplacement et suivez en temps réel les trajets des pouceux. Vous pouvez également leur laisser des messages.<br/>

		<h2>Sites relatifs au stop</h2>
		
		<p>
			<a href="http://www.routard.com/guide_dossier/id_dp/28/le_stop.htm" target="_blank">Le site de Routard : guide de stoppeur rusé</a> : Ce guide est très bien fait et rapide à lire. Que vous soyez novices ou stoppeurs pro allez y jeter un coup d'oeil il vaut le coup.
		</p>

		<p>
			<a href="http://hitchwiki.org/fr/Accueil" target="_blank"> Hitchwiki</a> est un projet collaboratif de création d'un guide libre et gratuit pour et par les auto-stoppeurs<br/>
			Vous y trouverez tous les conseils que vous cherchez. Il présente également une base de données des bon spot pour faire du stop, alors pensez y !
		</p>

		<p>
			<a href="http://autostopparticipatif44.6mablog.com" target="_blank">Autostop partcipatif 44</a> est une iniciative de Solidarités Ecologie (canton de La Chapelle-sur-Erdre en Loire-Atlantique).<br/>
			Elle propose de réinicier l'utilisation de l'autostop dans le canton par un principe participatif (0.5€/10km).
		</p> 

		<h2>On aime</h2>

		<div class="row">
			<div class="col s12 m3 center-on-small-only">
				<img src="{{ asset('images/final-logo.png') }}" class="responsive-img" alt="CouchSurfing" />
			</div>
			<div class="col s12 m9">
				<p>
					<a href="http://www.couchsurfing.org" target="_blank">CouchSurfing</a> est un réseau mondial dont le but est de mettre en contact les voyageurs avec les communautés locales qu'ils visitent. Si tu as aimé le stop et que tu souhaites passer au niveau supérieur de l'échange
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m3 center-on-small-only">
				<img src="{{ asset('images/nuclerez.jpg') }}" class="responsive-img" alt="Nuclérez" title="Nuclérez, la radio de Centrale Nantes" width=170px />	
			</div>
			<div class="col s12 m9">
				<p>
					<a href="http://nuclerez.webradio.free.fr" target="_blank">Nuclerez</a> est la radio des Centraliens de Nantes. Connectez-vous et retrouvez les émissions sur le Pouce d'Or. Les émissions sont disponibles sur <a href="https://itunes.apple.com/fr/podcast/nuclerez/id745752889" target="_blank">Itunes</a>.
				</p>
			</div>
		</div>
	</div>

{% endblock %}