{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Mot du prez 2009</h1>

<p>
    J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>
    Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
    Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs.
</p>

{% endblock %}
