{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<div class="row">
        <h2 class="header">Les organisateurs</h2>
        <p class="caption">
        	Le Pouce d'Or à débuter avec une poignée de participants. 
			Avec l'idée d'en faire profiter un maximum d'étudiant de Centrale Nantes, xx et xx ont décidés d'en faire un évènement annuel.
			Au fur et à mesure des années la tradition s'est perpétué. Il s'est étendu à de plus en plus d'écoles dans toutes la France pour devenir un évènement majeur dans plusieurs établissements supérieur francais.
			<br/>
			C'est pour remercier les organisateurs et coordinateur de l'évènement que cette page à été créer.
        </p>
    </div>

	<h2> 2012 </h2>
	
	<h2> 2013 </h2>

	<div class="row">
      	<div class="col s12 m3 center-on-small-only">
        	<div class="image-container">
          		<img class="responsive-img" src="{{ asset('images/photo_olivier.png') }}">
        	</div>
     	</div>
      	<div class="col s12 m9">
        	<h4>Olivier NGUYEN QUOC</h4>
        	<p>
        		Co-organisteur de 3 éditions (2013-2014-2015). Il est le webmaster du Pouce d'Or. La version utilisée aujourd'hui est le fruit de son travail.
        		<br/>
        		<i>Une incroyable expérience de transformer un évènement local en un évènement majeur. Nous avons passé le flambeau avec de grand espoir pour cet évènement magique</i>
        		<br/>
        		<a href="https://fr.linkedin.com/pub/olivier-nguyen-quoc/8b/164/740" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="{{ asset('images/badges/linkedin_link.png') }}" width="35" height="35" alt="Voir le profil LinkedIn de Olivier Nguyen Quoc" style="vertical-align:middle;" border="0"></span>

            </a><a href="https://www.facebook.com/oliv.nguyen" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="{{ asset('images/badges/facebook_link.png') }}" width="35" height="35" alt="Voir le profil Facebook de Olivier Nguyen Quoc" style="vertical-align:middle;" border="0"></span></a>
        	</p>
     	</div>
    </div>
	
	<div class="row">
      	<div class="col s12 m3 center-on-small-only">
        	<div class="image-container">
          		<img class="circle responsive-img" src="{{ asset('images/photo_alexandre.jpg') }}">
        	</div>
     	</div>
      	<div class="col s12 m9">
        	<h4>Alexandre RAGUENES</h4>
        	<p>
            Président de l'édition 2013
            <br/>
            <i>Commentaire</i>
        	  <br/>
        	</p>
     	</div>
    </div>

	<h2> 2014 </h2>

	<h2> 2015 </h2>



{% endblock %}