{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

	<h1>Les organisateurs</h1>

	<p>
		Le Pouce d'Or à débuter avec une poignée de participants. 
		Avec l'idée d'en faire profiter un maximum d'étudiant de Centrale Nantes, xx et xx ont décidés d'en faire un évènement annuel.
		Au fur et à mesure des années la tradition s'est perpétué. Il s'est étendu à de plus en plus d'écoles dans toutes la France pour devenir un évènement majeur dans plusieurs établissements supérieur francais.
		<br/>
		C'est pour remercier les organisateurs et coordinateur de l'évènement que cette page à été créer.
		
	</p>

	<h2> 2012 </h2>
	
	<h2> 2013 </h2>
	Olivier NGUYEN QUOC
	<i>Une incroyable expérience de transformer un évènement local en un évènement majeur. Nous avons passé le flambeau avec de grand espoir pour cet évènement magique</i>

	Alexandre RAGUENES

	<h2> 2014 </h2>

	<h2> 2015 </h2>

{% endblock %}