{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Les articles de presse</h1>

<h4>2012</h4>

<div class="row">
	<div class="col s12 m4 offset-m4">
		<img class="responsive-img materialboxed" data-caption="Article de l'Echo d'Ancenis et du vignoble - 2012" src="{{ asset('images/Presse/presse2012.png') }}">
		<b>Article de l'Echo d'Ancenis et du vignoble</b>
	</div>
</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script>
		$(document).ready(function(){
	    	$('.materialboxed').materialbox();
	  	});
  	</script>

{% endblock %}