	{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

	{% extends "PouceSiteBundle::layout.html.twig" %}

	{% block site_body %}

		<h1> Le Top 25 du Pouce d'Or</h1>
		<br/>
		<p>Ces 25 Teams se sont distingu&eacute;es parmis les 144 Bin&ocirc;mes ayant particip&eacute; au Pouce d'Or depuis 2003<br/>
			On remarquera la double performance de la Team Florent & Romain : Barcelone en 2007 et Salzbourg en 2008<br/>
			Et le prix de l'&eacute;chec a &eacute;t&eacute; attribu&eacute; &agrave; Nicolas & Zven : Carquefou, 11 km (2009)</p>	
			<br/>

			<table>	
				<tr>
					<th>N&ordm;</th>
					<th>Ville</th>
					<th>km</th>
					<th>Ann&eacute;e</span>
						<th>&Eacute;quipe</th>
					</tr>
					<tr><td>Pouce d'Or</td><td>Copenhague <img src="images/pays/dan.jpg" alt="Danemark" border="0"></td><td>1576 km</td><td>2010</td><td>Kristell  & F&eacute;lix </td></tr>
					<tr><td>Pouce d'Argent</td><td>Linz <img src="images/pays/aut.png" alt="Autriche" border="0"></td><td>1410 km</td><td>2008</td><td>Ga&euml;lle  & Olivier </td></tr>
					<tr><td>Pouce de Bronze</td><td>Florence <img src="images/pays/ita.PNG" alt="Italie" border="0"></td><td>1409 km</td><td>2010</td><td>Rozenn & C&eacute;dric</td></tr>
					<tr><td>4</td><td>Salzbourg <img src="images/pays/aut.png" alt="Autriche" border="0"></td><td>1362 km</td><td>2008</td><td>Florent & Romain</td></tr>
					<tr><td>5</td><td>Alicante <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>1350 km</td><td>2003</td><td>Romain & Richard</td></tr>
					<tr><td>6</td><td>Bologne <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>1290 km</td><td>2003</td><td>Isaure & Mathieu</td></tr>
					<tr><td>7</td><td>Hambourg <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1278 km</td><td>2010</td><td>Marie & Antoine</td></tr>
					<tr><td>8</td><td>Munich <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1211 km</td><td>2008</td><td>Beno&iuml;t & Jonas</td></tr>
					<tr><td>8</td><td>Munich <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1211 km</td><td>2009</td><td>Ana&euml;lle & Tobias</td></tr>
					<tr><td>8</td><td>Munich <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1211 km</td><td>2009</td><td>Lo&iuml;c & Angelo</td></tr>
					<tr><td>8</td><td>Munich <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1211 km</td><td>2010</td><td>Farah & Marc</td></tr>
					<tr><td>8</td><td>Munich <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1211 km</td><td>2010</td><td>Aur&eacute;lie & Michael</td></tr>
					<tr><td>9</td><td>Corogne <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>1196 km</td><td>2003</td><td>Elodie & Thomas</td></tr>
					<tr><td>10</td><td>Arenzano <img src="images/pays/ita.PNG" alt="Italie" border="0"></td><td>1161 km</td><td>2007</td><td>Alexandre & Cl&eacute;ment</td></tr>
					<tr><td>11</td><td>Menton <img src="images/pays/fra.PNG" alt="France" border="0"></td><td>1159 km</td><td>2007</td><td>Guillaume & Audrey</td></tr>
					<tr><td>12</td><td>Hannovre <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1143 km</td><td>2007</td><td>M&eacute;lanie & Boris</td></tr>
					<tr><td>13</td><td>Juan-les-Pins <img src="images/pays/fra.PNG" alt="France" border="0"></td><td>1133 km</td><td>2008</td><td>Ludovic & Aurelien</td></tr>
					<tr><td>14</td><td>Nice <img src="images/pays/fra.PNG" alt="France" border="0"></td><td>1104 km</td><td>2007</td><td>Claire & Alexandre</td></tr>
					<tr><td>15</td><td>Singen <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1041 km</td><td>2010</td><td>Alain & Lo&iuml;c</td></tr>
					<tr><td>16</td><td>Madrid <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>1026 km</td><td>2005</td><td>Simon & Marie</td></tr>
					<tr><td>17</td><td>Salamanque <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>1011 km</td><td>2010</td><td>Marine & Pierre-Olivier</td></tr>
					<tr><td>18</td><td>Sttutgart <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>1001 km</td><td>2009</td><td>Mathieu & Jeanne</td></tr>
					<tr><td>19</td><td>Barcelone <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>960 km</td><td>2008</td><td>Axel & Aude</td></tr>
					<tr><td>19</td><td>Barcelone <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>960 km</td><td>2005</td><td>Thomas  & Stevan</td></tr>
					<tr><td>19</td><td>Barcelone <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>960 km</td><td>2007</td><td>Jeremy & Gwendoline</td></tr>
					<tr><td>19</td><td>Barcelone <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>960 km</td><td>2007</td><td>Florent & Romain</td></tr>
					<tr><td>20</td><td>Marseille <img src="images/pays/fra.PNG" alt="France" border="0"></td><td>954 km</td><td>2007</td><td>Cl&eacute;ment & Emmanuel</td></tr>
					<tr><td>21</td><td>Francfort <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>944 km</td><td>2009</td><td>Ma&euml;lle & Guilhem</td></tr>
					<tr><td>21</td><td>Francfort <img src="images/pays/ger.PNG" alt="Allemagne" border="0"></td><td>944 km</td><td>2003</td><td>Elodie & Thimoth&eacute;e</td></tr>
					<tr><td>22</td><td>Morgex <img src="images/pays/ita.PNG" alt="Italie" border="0"></td><td>896 km</td><td>2010</td><td>Michel & Fran&ccedil;ois</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2008</td><td>Thomas  & Matthieu</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2008</td><td>Maxime & Sofia</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2008</td><td>Micha&euml;l & Thibault</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2008</td><td>Julia & Antoine</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2008</td><td>Marie & Jean-Baptiste</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2010</td><td>Florent & JB</td></tr>
					<tr><td>23</td><td>Amsterdam <img src="images/pays/ned.PNG" alt="Pays-Bas" border="0"></td><td>882 km</td><td>2010</td><td>Lin & G&eacute;rard</td></tr>
					<tr><td>24</td><td>Girona <img src="images/pays/esp.PNG" alt="Espagne" border="0"></td><td>881 km</td><td>2006</td><td>Evgueni & Emilie</td></tr>
					<tr><td>25</td><td>Strasbourg <img src="images/pays/fra.PNG" alt="France" border="0"></td><td>860 km</td><td>2006</td><td>Thomas & Benoit</td></tr>
					
				</table>

			{% endblock %}