{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

	<h1>Les règles détaillées</h1>

    <h3 class="center">Les 10 commandements des pouceux</h3>

    <div class="row">
    	<div class="col s12 m12">
	        <p>
	            Pour pouvoir être accepté dans la communauté des pouceux, il vous faudra respecter les 10 commandements des pouceux :
	        </p>
            <ul class="center">
                <li> <strong>Commandement n°1 : </strong>Vous parlerez du Pouce d'Or.</li>
                <li> <strong>Commandement n°2 : </strong>Vous bénirez ENCORE PLUS le Pouce d'Or.</li>
                <li> <strong>Commandement n°3 : </strong>Vous partirez en binôme mixte ou masculin. Les binômes féminins sont interdits. Si vous ne respectez pas cette règle, vous serez éliminées.</li>
                <li> <strong>Commandement n°4 : </strong>Vous tombez, vous vous blessez, vous êtes emprisonnés ou écrasés, le Pouce d'Or s'arrête.
                <br/>Vous êtes responsables de vous-même.</li>
                <li> <strong>Commandement n°5 : </strong>La météo n'est pas une excuse.</li>
                <li> <strong>Commandement n°6 : </strong>Un gilet de sécurité vous porterez en permanence.</li>
                <li> <strong>Commandement n°7 : </strong>De votre binôme, JAMAIS VOUS NE VOUS SEPAREREZ (même s'il est moche, même s'il n’est pas lavé, même s’il est malade et même s’il t‘a empêché de choper).</li>
                <li> <strong>Commandement n°8 : </strong>Des risques inutiles vous ne prendrez pas : Le Pouce d’Or est un JEU (où il n’y a rien à gagner en plus).</li>
                <li> <strong>Commandement n°9 : </strong>Refuser des voitures, vous en avez le droit, mais si le chocho est chelou vous en avez l’obligation !!!!</li>
                <li> <strong>Commandement n°10 : </strong>Vous utiliserez l'application qu’on vous demande d’utiliser.</li>
                <li> <strong>Commandement Final : </strong>Le Pouce d'Or, c'est vous. C'est votre responsabilité.</li>
            </ul>
	    </div>
	</div>

	<div class="row">
    	<div class="col s12 m6">
	        <h3 class="center">Règles du jeu </h3>
	        <p>
	            Les règles du jeu sont simples.
	        </p>
	        <p>
	            Par binôme, vous devez aller le plus loin possible en stop sur un week-end.
	        </p>
	        <p>
	            La distance parcourue est mesurée grâce à un GPS en choisissant l’itinéraire « au plus court » après avoir renseigné le lieu de départ et le lieu d’arrivée.
	        </p>
	    <div class="col s12 m6">
	    </div>
	</div>
	<div class="row">
		<div class="col s12 m6">
	    </div>
    	<div class="col s12 m6">
	        <p>
	            Le départ aura lieu le samedi 3 octobre à 9h (lieu à définir au sein de chaque école). Vous devrez rentrer avant le début des cours, donc avant le lundi à 8h. Si vous n’êtes pas là, vous aurez droit à 100 km de pénalité par heure de retard.
	        </p>
	        <p>
	        	Tout trajet en transport autre que du stop est éliminatoire (les transports en commun dans les villes sont acceptés).
	        </p>
	    </div>
	</div>
	<p>
		ATTENTION : Un retour en train ou en covoiturage est un abandon. 
	</p>

	<div class="row">
		<h3 class="center">REGLES DE SECURITE </h3>
    
    </div>
	<div class="row">
    	<div class="col s12 m12">
		    <p>
		    	Afin qu’il ne vous arrive rien pendant le Pouce d’Or, vous devez respecter certaines règles. Si vous y dérogez, vous pouvez être exclus du Pouce d’Or (ce qui serait quand même dommage).
		    </p>
		    <ul class="bullet">
		    	<li>Ne jamais se séparer de son binôme.</li>
				<li>Toujours porter son gilet jaune (il peut vous sauver la vie, accessoirement).</li>
				<li>NE PAS S'ENDORMIR EN MEME TEMPS !!! 
				<li>Le stop est <b>INTERDIT</b> par la loi sur les bords d'autoroutes. Demandez donc à être déposés sur une aire de repos ou après être sorti de l'autoroute, en lieu sûr. Mais si c'est quand même le cas, restez derrière la glissière de sécurité (aspiration des camions, voitures rapides, …).</li>
				<li>Ne jamais traverser les autoroutes.</li>
				<li>Faire du stop là où vous êtes visibles.</li>
				<li>Faire du stop là où les voitures peuvent s'arrêter. Evitez les ronds-points.</li>
				<li>Les binômes exclusivement féminins sont interdits. Nous vous conseillons de partir en binôme mixte, vous avez ainsi plus de chances d’aller plus loin.</li>
		    </ul>
		</div>
	</div>

{% endblock %}
