{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Les vidéos</h1>

<h3>Les vidéos officiels</h3>

<div class="row">
	<div class="col s12 m8 offset-m2">
		<h4>2015</h4>
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/CGbIqdJb9lc" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m8 offset-m2">
		<h4>2014</h4>
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/bUFDFQhin2s" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m8 offset-m2">
		<h4>2013</h4>
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/AIQoSGz1VRU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="row">
	<h4>2010</h4>
    <a href="http://www.cnt-cnc.fr/index.php?option=com_content&view=article&id=294:pouce-dor&catid=74:films-de-club-2010&Itemid=89" target="_blank">Vidéo Pouce d'Or soirée des club 2010</a> : réalisé par Anaëlle Renouard Prez Pouce d'Or 2010
</div>

<div class="row">
	<h4>2008-2009</h4>
    <a href="http://www.youtube.com/watch?v=LycQhQH4pbg" target="_blank">Vidéo Pouce d'Or soirée des clubs 2008 et 2009</a>
</div>

<h3>Les autres vidéos</h3>

<div class="row">
	<div class="col s12 m8 offset-m2">
		<h4>2014</h4>
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/j3uC6ncsiUU" frameborder="0" allowfullscreen></iframe>
		</div>
		<b>Aventure de Anaëlle et Titouan</b><br/>
		<i>Pouce d'Or 2014 - Centrale Marseille</i>
	</div>
</div>

{% endblock %}
