{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Les règles détaillées</h1>

<h1>Les vidéos</h1>

<div id="photos">
    <br/>
    <a href="http://www.cnt-cnc.fr/index.php?option=com_content&view=article&id=294:pouce-dor&catid=74:films-de-club-2010&Itemid=89" target="_blank">Vidéo Pouce d'Or soirée des club 2010</a> : réalisé par Anaëlle Renouard Prez Pouce d'Or 2010
    <br/>
    <br/><a href="http://www.youtube.com/watch?v=LycQhQH4pbg" target="_blank">Vidéo Pouce d'Or soirée des clubs 2008 et 2009</a>
    <br/>
    <br/>
</div>

{% endblock %}
