{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Page de configuration du Pouce d'Or</h3>

	<h4>Crée une édition</h4>

	<h4>Configuration du status des éditions</h4>

	{% for edition in editions %}
		
		<h5>Edition du {{ edition.dateOfEvent|date('d/m/Y') }} :</h5>
		L'édition est au status :
		{% if edition.status == "scheduled" %}
		"<b>Programmé - Pas d'inscription</b>"
		<br/>

		<u>Changer le status de l'édition :</u>
		<a class="waves-effect waves-light btn" href=#><i class="material-icons right"><i class="material-icons">keyboard_arrow_right</i></i>Lancer l'inscription</a>

		{% elseif edition.status == "registering" %}
		"<b>Inscription en cours</b>"
		<br/>

		<u>Changer le status de l'édition :</u>
		<a class="waves-effect waves-light btn" href=#><i class="material-icons left"><i class="material-icons">keyboard_arrow_left</i></i>Retourner à programmé</a>

		<a class="waves-effect waves-light btn" href=#><i class="material-icons right"><i class="material-icons">keyboard_arrow_right</i></i>Lancer la course</a>

		{% elseif edition.status == "inProgress" %}
		"<b>Edition en cours - Les participants sont sur la route</b>"
		<br/>

		<u>Changer le status de l'édition :</u>
		<a class="waves-effect waves-light btn" href=#><i class="material-icons left"><i class="material-icons">keyboard_arrow_left</i></i>Retourner à l'inscription</a>

		<a class="waves-effect waves-light btn" href=#><i class="material-icons right"><i class="material-icons">keyboard_arrow_right</i></i>Finir la course</a>

		{% else %}
		"<b>L'édition est fini !</b>"
		<br/>

		<u>Changer le status de l'édition :</u>
		<a class="waves-effect waves-light btn" href=#><i class="material-icons left"><i class="material-icons">keyboard_arrow_left</i></i>Retourner à la course en cours</a>

		{% endif %}

		<br/><br/>
		<a class="waves-effect waves-light btn" href=#>Gérer les participants</a>
		<br/><br/>

	{% endfor %}

{% endblock %}


{% block javascript %}
    {{ parent() }}

{% endblock %}