<h2>Raconte nous ce qui s'est passé !</h2>

<div class="col s12 center">
	<p>
		Dit nous jusqu'où tu es allé et raconte nous en détail tes aventures (texte, photos, vidéos ...)
		<a href="{{ path('pouce_result_add') }}">C'est par là que ça se passe</a>
	</p>
</div>
