<h2>La prochaine édition est pour bientôt !</h2>

<div class="col s12 center">
	La prochaine édition du Pouce d'Or est le {{ edition.dateOfEvent}}.
	Vérifie auprès de ton BDE que ton école est inscrite à cette édition.
	Les inscriptions ne devrait plus tarder à ouvrir.
</div>