<h2>La prochaine édition est pour bientôt !</h2>

<div class="col s12 center">
	La prochaine édition du Pouce d'Or n'est pas encore programmée. Elle devrait se dérouler logiquement le 1er week-end d'Octobre.
	N'hésite pas à faire un tour sur la page facebook du Pouce d'Or et à vérifier auprès de ton BDE que ton école est bien inscrite.

	A bientôt !
</div>